extends layout

block content
  -data = data || {}

  if errors
    ul.my-errors
      for error in errors
        li= error.msg

  form(action="." method="POST" class="form-registration")
    label(for="name") Name:
    input(
      type="text"
      id="name"
      name="name"
      class="form-control"
      value=data.name
    )

    label(for="email") Email:
    input(
      type="email"
      id="email"
      name="email"
      class="form-control"
      value=data.email
    )

    label(for="age") Age:
    input(
      type="number"
      id="age"
      name="age"
      class="form-control"
      value=data.age
    )

    label(for="city") City:
    input(
      type="text"
      id="city"
      name="city"
      class="form-control"
      value=data.city
    )


    label(for="whatsappnum") Whatsapp Number:
    input(
      type="text"
      id="whatsappnum"
      name="whatsappnum"
      class="form-control"
      value=data.whatsappnum
    )
    

    input(
      type="submit"
      value="Submit"
      class="btn btn-lg btn-primary btn-block"
    )